.day {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #E8E8E8;
    aspect-ratio: 1/1;
    text-decoration: none;
    align-items: flex-start;

    .date {
        margin-top: 2px;
        border-radius: 50%;
        padding: 5px;
        align-self: flex-end;
        display: flex;
        align-items: center;
    }
    
    .today {
        background-color: #0090FF;
        color: white;
    }
    
    .isNotSelectedMonth {
        color: #E8E8E8;
    }
    
    ul {
        margin: 0;
        padding-left: 15px;
        display: flex;
        flex-direction: column;

        li {
            margin: 0;
            color: #00C900;

            p {
                margin: 0;
                max-width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #595959;
            }
        }
    }
}

.day:hover {
    border-top: 3px solid #009EFF;
    background-color: #E2F7FF;
    color: #0090FF;
}



