.day {
    display: flex;
    flex-direction: column;
    border-top: 3px solid $light-gray;
    aspect-ratio: 1/1;
    text-decoration: none;
    align-items: flex-start;

    .date {
        margin-top: 2px;
        border-radius: 50%;
        padding: 5px;
        align-self: flex-end;
        display: flex;
        align-items: center;
    }
    
    .today {
        background-color: $blue;
        color: $white;
    }
    
    .isNotSelectedMonth {
        color: $light-gray;
    }
    
    ul {
        margin: 0;
        padding-left: 15px;
        display: flex;
        flex-direction: column;

        li {
            margin: 0;
            color: $green;

            p {
                margin: 0;
                max-width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $dark-gray;
            }
        }
    }
}

.day:hover {
    border-top: 3px solid $blue;
    background-color: $light-blue;
}



